{% extends "public.html" %} {% block page %}
<div class="justify-center">
  <q-card class="bg-transparent no-shadow no-border">
    <q-card-section class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <!--          <div class="text-h6 float-left q-ml-md q-mt-sm">Pagination With Filters</div>-->
        <q-space></q-space>
        <q-select
          dense
          outlined
          style="min-width: 200px"
          v-model="type"
          :options="['All','Free','Paid']"
          class="float-right"
          label="Category"
        ></q-select>
      </div>
    </q-card-section>
    <q-card-section class="q-mx-sm">
      <div class="row q-col-gutter-lg">
        <div
          class="col-lg-3 col-sm-12 col-xs-12 col-md-3"
          v-for="data in items"
          :key="data.id"
        >
          <q-card style="background-color: #292845" class="text-white">
            <q-img v-if="data.img" :src="data.img">
              <template v-slot:loading>
                <div class="text-subtitle1 text-white">Loading...</div>
              </template>
            </q-img>
            <q-separator></q-separator>
            <q-card-section class="text-h5 text-center">title</q-card-section>
            <q-card-section class="text-justify">
              <div>text</div>
            </q-card-section>
            <q-card-actions>
              <q-btn
                color
                icon="remove_red_eye"
                class="bg-transparent text-capitalize"
                flat
                label="200 Views"
              ></q-btn>

              <q-space></q-space>

              <q-btn
                color
                icon="chat_bubble"
                class="bg-transparent"
                flat
                label="56"
              ></q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </q-card-section>
    <q-card-actions align="center">
      <q-pagination
        v-model="itemsTable.pagination.page"
        :min="1"
        :max="itemsTable.pagination.rowsNumber"
        :input="true"
        input-class="text-orange-10"
      >
      </q-pagination>
    </q-card-actions>
  </q-card>
</div>
{% endblock %} {% block scripts %}
<script>
  const inventory = JSON.parse({{ inventory | tojson | safe }})
</script>
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        inventory: {},
        items: [],
        itemsTable: {
          columns: [
            {name: 'name', label: 'Name', field: 'name', align: 'left'},
            {
              name: 'description',
              label: 'Description',
              field: 'description',
              align: 'left'
            },
            {name: 'price', label: 'Price', field: 'price', align: 'right'},
            {name: 'stock', label: 'Stock', field: 'stock', align: 'right'}
          ],
          pagination: {
            page: 1,
            rowsPerPage: 25,
            rowsNumber: 0
          }
        }
      }
    },
    created() {
      console.log('display page loaded')
      console.log(inventory)
      this.inventory = inventory
      this.getItemsPaginated()
    },
    computed: {},
    methods: {
      async getItemsPaginated() {
        this.loadingItems = true
        try {
          const params = LNbits.utils.prepareFilterQuery(this.itemsTable)
          const {data} = await LNbits.api.request(
            'GET',
            `/inventory/api/v1/items/${this.inventory.id}/paginated?${params}`
          )
          console.log('Received data:', data)
          this.items = [...data.data]
          this.itemsTable.pagination.rowsNumber = data.total
          // console.log('Fetched items:', this.items)
        } catch (error) {
          console.error('Error fetching items:', error)
          LNbits.utils.notifyError(error)
        } finally {
          this.loadingItems = false
        }
      }
    }
  })
</script>
{% endblock %}
