{% extends "public.html" %} {% block page %}
<div class="justify-center">
  <!-- <q-card class="bg-transparent no-shadow no-border"> -->
  <q-toolbar class="q-pb-lg">
    <q-btn-toggle
      v-model="tab"
      flat
      stretch
      toggle-color="accent"
      :options="tabOptions"
    ></q-btn-toggle>
    <q-space></q-space>
    <q-select
      dense
      outlined
      style="min-width: 200px"
      v-model="type"
      :options="['All','Free','Paid']"
      class="float-right"
      label="Category"
    ></q-select>
  </q-toolbar>
  <div class="">
    <div class="row q-col-gutter-md">
      <div
        class="col-12 col-sm-6 col-lg-4"
        v-for="data in items"
        :key="data.id"
      >
        <q-card class="item-card">
          <q-card-section horizontal>
            <q-img
              class="col-5"
              :src="data.img || 'https://cdn.quasar.dev/img/parallax1.jpg'"
            ></q-img>

            <q-card-section class="overflow-hidden">
              <div class="text-h6 ellipsis q-pb-md" v-text="data.name"></div>
              <div
                class="text-subtitle1 ellipsis q-pb-md"
                v-text="data.description || `&nbsp;`"
              ></div>
              <!-- <q-separator class="q-my-sm"></q-separator> -->
              <div class="text-subtitle1 text-justify">
                <div>
                  <span>Price: </span>
                  <span v-text="computePrice(data.price)"></span>
                </div>
              </div>
            </q-card-section>
          </q-card-section>

          <q-separator></q-separator>

          <q-card-actions>
            <q-chip square>
              <div v-if="data.quantity_in_stock">
                <q-avatar
                  :color="data.quantity_in_stock ? (data.quantity_in_stock <= data.reorder_threshold ? 'red' : 'green') : 'grey'"
                  text-color="white"
                >
                  <span v-text="data.quantity_in_stock"></span>
                </q-avatar>
                Available In Stock
              </div>
            </q-chip>
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </div>
  <q-card-actions align="center">
    <q-pagination
      v-model="itemsTable.pagination.page"
      :min="1"
      :max="itemsTable.pagination.rowsNumber"
      :input="true"
      input-class="text-accent"
      @update:model-value="getItemsPaginated"
      boundary-links
    >
    </q-pagination>
  </q-card-actions>
  <!-- </q-card> -->
</div>
{% endblock %} {% block scripts %}
<script>
  const inventory = JSON.parse({{ inventory | tojson | safe }})
</script>
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        tab: 'items',
        tabOptions: [
          {label: 'Items', value: 'items'},
          {label: 'Managers', value: 'managers'},
          {label: 'Orders', value: 'orders'}
        ],
        inventory: {},
        items: [],
        itemsTable: {
          columns: [
            {name: 'name', label: 'Name', field: 'name', align: 'left'},
            {
              name: 'description',
              label: 'Description',
              field: 'description',
              align: 'left'
            },
            {name: 'price', label: 'Price', field: 'price', align: 'right'},
            {
              name: 'quantity_in_stock',
              label: 'Stock',
              field: 'quantity_in_stock',
              align: 'right'
            }
          ],
          pagination: {
            page: 1,
            rowsPerPage: 10,
            rowsNumber: 10
          }
        }
      }
    },
    created() {
      console.log('display page loaded')
      console.log(inventory)
      this.inventory = inventory
      this.getItemsPaginated()
    },
    computed: {},
    methods: {
      async getItemsPaginated() {
        this.loadingItems = true
        try {
          const params = LNbits.utils.prepareFilterQuery(this.itemsTable)
          const {data} = await LNbits.api.request(
            'GET',
            `/inventory/api/v1/items/${this.inventory.id}/paginated?${params}`
          )
          console.log('Received data:', data)
          this.items = [...data.data]
          this.itemsTable.pagination.rowsNumber = data.total / this.items.length
        } catch (error) {
          console.error('Error fetching items:', error)
          LNbits.utils.notifyError(error)
        } finally {
          this.loadingItems = false
        }
      },
      computePrice(price) {
        return price
          ? LNbits.utils.formatCurrency(price, this.inventory.currency)
          : 'Free'
      }
    }
  })
</script>
{% endblock %}
