{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="showInventoryDialog"
          >New Inventory</q-btn
        >
      </q-card-section>
    </q-card>
    <q-card v-if="inventories.length">
      <q-list>
        <template v-for="(inventory, index) in inventories" :key="inventory.id">
          <q-expansion-item
            group="items"
            expand-icon-toggle
            expand-separator
            icon="inventory"
            :label="inventory.name"
            :caption="inventory.currency"
            header-class="q-py-md"
            @show="setOpenInventory(inventory.id)"
          >
            <q-card>
              <q-card-section>
                <q-table
                  flat
                  bordered
                  title="Items"
                  :rows="items"
                  :columns="itemsTable.columns"
                  row-key="id"
                  v-model:pagination="itemsTable.pagination"
                  @request="getItemsPaginated"
                  :loading="loadingItems"
                >
                  <template v-slot:top>
                    <q-btn
                      color="primary"
                      label="Add Item"
                      @click="itemDialog.show = true"
                    ></q-btn>
                    <q-btn
                      color="primary"
                      label="Add Manager"
                      @click="managerDialog.show = true"
                      class="q-ml-md"
                    ></q-btn>
                    <q-space></q-space>
                    <q-input
                      standout
                      dense
                      debounce="300"
                      color="primary"
                      v-model="itemsTable.search"
                    >
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template>
                </q-table>
              </q-card-section>
              <q-card-section class="q-mt-lg" v-if="managers.length">
                <h6 class="text-subtitle1 q-my-none">Managers</h6>
                <q-list bordered>
                  <q-item v-for="manager in managers" :key="manager.id">
                    <q-item-section>
                      <q-item-label v-text="manager.name"></q-item-label>
                      <q-item-label
                        caption
                        v-text="manager.email || 'No email provided'"
                      ></q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <!-- <q-item-label caption>2 min ago</q-item-label> -->
                      <div class="">
                        <q-icon name="preview"></q-icon>
                        <q-icon name="edit"></q-icon>
                        <q-icon name="delete"></q-icon>
                      </div>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-separator v-if="index < inventories.length -1"></q-separator>
        </template>
      </q-list>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Inventory extension
        </h6>
      </q-card-section>
    </q-card>
  </div>
  {% include "inventory/_dialogs.html" %}
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('inventory/static', path='js/index.js') }}"></script>
{% endblock %}
