{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div>
  {% include "inventory/_dialogs.html" %}
  <div v-if="inventory == null" class="flex flex-center q-py-xl">
    <q-card class="q-my-xl q-pa-lg">
      <q-card-section class="text-center">
        <div class="text-h6">No inventories found</div>
        <div class="text-subtitle2">
          You haven't created any inventories yet. Click the button below to get
          started.
        </div>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          label="Create Inventory"
          @click="showInventoryDialog"
        >
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
  <div v-else class="justify-center">
    <q-separator class="q-my-md"></q-separator>
    <!-- <h5 class="q-mb-lg"><span v-text="inventory.name"></span></h5> -->
    <q-toolbar class="q-pb-lg q-px-none">
      <q-btn-toggle
        v-model="tab"
        flat
        stretch
        toggle-color="primary"
        :options="tabOptions"
      ></q-btn-toggle>
      <q-space></q-space>
      <q-btn
        flat
        color="grey-6"
        icon="settings"
        @click="showInventoryDialog(inventory.id)"
      ></q-btn>
    </q-toolbar>
    <section v-if="tab === 'items'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Add Item"
          @click="itemDialog.show = true"
        ></q-btn>
        <q-btn flat color="grey-6" class="q-ml-md">
          <q-icon
            :name="itemGrid ? 'grid_view' : 'view_list'"
            @click="toggleItemView"
          ></q-icon>
          <q-tooltip>
            <span
              v-text="itemGrid ? 'Switch to List View' : 'Switch to Grid View'"
            ></span>
          </q-tooltip>
        </q-btn>
        <q-space></q-space>
        <q-input
          standout
          dense
          debounce="300"
          color="primary"
          v-model="itemsTable.search"
          @keyup.enter="getItemsPaginated"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </q-toolbar>
      <div v-if="!items.length" class="flex flex-center q-py-xl">
        <q-card class="q-my-xl q-pa-lg">
          <q-card-section class="text-center">
            <div class="text-h6">No items yet...</div>
            <div class="text-subtitle2">
              You haven't created any items yet. Click the button below to get
              started.
            </div>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn
              color="primary"
              label="Add Item"
              @click="itemDialog.show = true"
            >
            </q-btn>
          </q-card-actions>
        </q-card>
      </div>
      <template v-if="itemGrid">
        <div class="q-pb-xl">
          <div class="row q-col-gutter-md">
            <div
              class="col-12 col-sm-6 col-lg-4 items-stretch"
              v-for="item in items"
              :key="item.id"
            >
              <item-card
                :item="item"
                :currency="inventory.currency"
                @edit="showItemDialog(item.id)"
                @delete="deleteItem(item.id)"
              ></item-card>
            </div>
          </div>
        </div>
        <q-card-actions
          class="bg-transparent absolute-bottom"
          align="center"
          v-if="items.length"
        >
          <q-pagination
            v-model="itemsTable.pagination.page"
            :min="1"
            :max="Math.ceil(itemsTable.pagination.rowsNumber / itemsTable.pagination.rowsPerPage)"
            :input="true"
            input-class="text-accent"
            @update:model-value="itemsTabPagination"
            boundary-links
          >
          </q-pagination>
        </q-card-actions>
      </template>
      <template v-else>
        <q-card v-if="items.length" class="q-pa-lg">
          <q-table
            flat
            bordered
            title="Items"
            :rows="items"
            :columns="itemsTable.columns"
            row-key="id"
            v-model:pagination="itemsTable.pagination"
            @request="getItemsPaginated"
            :loading="loadingItems"
            title="Items"
            no-data-label="No items yet..."
            no-results-label="No results found"
          >
            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th auto-width></q-th>
                <q-th
                  v-for="col in props.cols"
                  :key="col.name"
                  :props="props"
                  v-text="col.label"
                ></q-th>
              </q-tr>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td auto-width class="q-gutter-x-sm">
                  <q-btn
                    flat
                    unlevated
                    size="sm"
                    padding="md"
                    color="grey-6"
                    dense
                    @click="deleteItem(props.row.id)"
                    icon="delete"
                  ></q-btn>
                  <q-btn
                    flat
                    unlevated
                    size="sm"
                    padding="md"
                    color="grey-6"
                    dense
                    @click="showItemDialog(props.row.id)"
                    icon="edit"
                  ></q-btn>
                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  <span v-text="col.value"></span>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-card>
      </template>
    </section>
    <section v-if="tab === 'managers'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Add Manager"
          @click="managerDialog.show = true"
        ></q-btn>
      </q-toolbar>
      <div class="row">
        <q-list bordered class="col-12 rounded-borders">
          <q-expansion-item
            v-for="manager in managers"
            :key="manager.id"
            expand-separator
            icon="perm_identity"
            :label="manager.name"
            :caption="manager.email"
            @show="getManagerItems(manager.id)"
          >
            <q-card>
              <q-card-section>
                <div class="q-pa-md q-gutter-md">
                  <q-btn
                    color="primary"
                    label="Dashboard"
                    :href="`/inventory/manager?manager_id=${manager.id}`"
                    target="_blank"
                  ></q-btn>
                  <div class="float-right q-gutter-x-sm">
                    <q-btn
                      flat
                      color="grey-6"
                      size="sm"
                      padding="md"
                      icon="edit"
                      @click="showManagerDialog(manager.id)"
                    >
                      <q-tooltip class="bg-white text-primary">Edit</q-tooltip>
                    </q-btn>
                    <q-btn
                      flat
                      color="grey-6"
                      size="sm"
                      padding="md"
                      icon="delete"
                      @click="deleteManager(manager.id)"
                    >
                      <q-tooltip class="bg-white text-primary"
                        >Delete</q-tooltip
                      >
                    </q-btn>
                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <q-table
                  flat
                  bordered
                  title="Items"
                  :rows="items"
                  :columns="itemsTable.columns"
                  row-key="id"
                  v-model:pagination="itemsTable.pagination"
                  @request="getManagerItems(manager.id)"
                  :loading="loadingItems"
                  no-data-label="No items submitted by this manager"
                  no-results-label="No results found"
                >
                  <template v-slot:top>
                    <q-space></q-space>
                    <q-input
                      standout
                      dense
                      debounce="300"
                      color="primary"
                      v-model="itemsTable.search"
                    >
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template>
                  <template v-slot:header="props">
                    <q-tr :props="props">
                      <q-th auto-width></q-th>
                      <q-th auto-width></q-th>
                      <q-th
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                        v-text="col.label"
                      ></q-th>
                    </q-tr>
                  </template>
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td auto-width>
                        <q-btn
                          unlevated
                          size="sm"
                          color="pink"
                          dense
                          @click="deleteItem(props.row.id)"
                          icon="delete"
                        ></q-btn>
                      </q-td>
                      <q-td auto-width>
                        <q-btn
                          unlevated
                          size="sm"
                          color="accent"
                          dense
                          @click="showItemDialog(props.row.id)"
                          icon="edit"
                        ></q-btn>
                      </q-td>
                      <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                        v-text="col.value"
                      >
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
    </section>
    <section v-if="tab === 'services'">
      <q-toolbar class="q-mb-md q-px-none">
        <q-btn
          color="primary"
          label="Add Service"
          @click="serviceDialog.show = true"
        ></q-btn>
      </q-toolbar>
      <q-card v-if="services.length" class="q-pa-lg">
        <q-table
          flat
          bordered
          title="Services"
          :rows="services"
          :columns="servicesTable.columns"
          row-key="id"
          v-model:pagination="servicesTable.pagination"
          @request="getServicesPaginated"
          :loading="loadingServices"
          no-data-label="No services yet..."
          no-results-label="No results found"
        >
          <template v-slot:top>
            <q-space></q-space>
            <q-input
              standout
              dense
              debounce="300"
              color="primary"
              v-model="servicesTable.search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.label"
              ></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  flat
                  color="grey-6"
                  size="sm"
                  padding="md"
                  @click="deleteService(props.row.id)"
                  icon="delete"
                ></q-btn>
                <q-btn
                  flat
                  color="grey-6"
                  size="sm"
                  padding="md"
                  @click="showServiceDialog(props.row.id)"
                  icon="edit"
                ></q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <span v-text="col.value"></span>
                <q-btn
                  v-if="col.name === 'api_key'"
                  icon="content_copy"
                  size="sm"
                  padding="sm"
                  color="grey-6"
                  flat
                  class="cursor-pointer q-mr-xs"
                  @click="copyText(props.row.api_key)"
                >
                  <q-tooltip>Copy API Key</q-tooltip>
                </q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card>
    </section>
    <section v-if="tab === 'orders'">
      <h2>Orders</h2>
    </section>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<style scoped>
  .text-section {
    display: flex;
    flex: 1;
  }

  .text-col {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
  }
  .description {
    flex: 1;
  }
</style>
<script src="{{ static_url_for('inventory/static', path='js/utils.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='js/index.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='components/item-card.js') }}"></script>
<script src="{{ static_url_for('inventory/static', path='components/photo-gallery-form.js') }}"></script>
{% endblock %}
